body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Newsletter ----------------------------------------------------- */
.description{
  background-color: beige;
  opacity: 90%;
  width: 100%;
  height: 25%;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%);
}

.container:hover{
  opacity: 100%;
  transform: scale(1.025);
}

.container{
  background-color: beige;
  position: relative;
  opacity: 90%;
  padding: 1%;
  transition: transform .2s;
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
}

.standard{
  width: 100%;
  height: 100%;
}

.newsletter_image{
  display: flex;
  width: 100%;
  height: 100%;
}

.newsletter_container{
  display: flex;
  padding: 2%;
  justify-content: center;
  align-items: center;
}